---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Careers">
	<section class="space-y-4">
		<h1 class="text-3xl font-bold">Careers</h1>
		<p>Explore open roles and learn how to join our growing team.</p>
	</section>
</Layout>
