---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FAQs">
	<section class="space-y-4">
		<h1 class="text-3xl font-bold">FAQs</h1>
		<p>
			Frequently asked questions about our services, buying process, and
			selling with us.
		</p>
	</section>
</Layout>
