---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Global Buys">
	<section class="space-y-4">
		<h1 class="text-3xl font-bold">Global Buys</h1>
		<p>
			Find out how we source and import the best global products for our
			marketplace.
		</p>
	</section>
</Layout>
