---
import Layout from "../layouts/Layout.astro";
---

<Layout title="News & Events">
	<section class="space-y-4">
		<h1 class="text-3xl font-bold">News & Events</h1>
		<p>
			Stay updated on the latest announcements, news, and upcoming events.
		</p>
	</section>
</Layout>
