---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Story">
	<section class="space-y-4">
		<h1 class="text-3xl font-bold">Our Story</h1>
		<p>
			Learn about our journey, mission, and the values that guide our
			company.
		</p>
	</section>
</Layout>
