---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Impact">
	<section class="space-y-4">
		<h1 class="text-3xl font-bold">Our Impact</h1>
		<p>
			See the positive changes we are making in communities, markets, and
			the supply chain.
		</p>
	</section>
</Layout>
