---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sell With Us">
	<section class="space-y-4">
		<h1 class="text-3xl font-bold">Sell With Us</h1>
		<p>
			Discover how sellers can join our platform, grow their audience, and
			sell with confidence.
		</p>
	</section>
</Layout>
