---
interface Props {
	quote: string;
	name: string;
	company: string;
}

const { quote, name, company } = Astro.props;
---

<div
	class="relative h-[304px] w-full max-w-[calc(100vw-40px)] shrink-0 sm:h-[323px] sm:max-w-[640px]">
	<div
		class="absolute flex inset-0 items-center justify-center"
		style="container-type:size">
		<div class="-rotate-180 -scale-x-100 flex-none h-[100cqh] w-[100cqw]">
			<div class="relative size-full" data-name="Vector">
				<div class="absolute inset-[0_-3.13%_-12.38%_-3.13%]">
					<svg
						class="block size-full"
						fill="none"
						preserveAspectRatio="none"
						viewBox="0 0 680 363">
						<g filter="url(#local-buyer-testimonial-shadow)">
							<path
								d="M658.925 61.9894C687.104 -45.0817 152.999 19.1045 30.0288 18.8601C15.9206 105.771 20.8988 209.431 20.6722 321.985C29.7374 323.307 620.844 323.422 629.773 321.826C628.187 309.793 627.938 296.165 633.399 284.175C636.482 198.692 636.76 146.207 658.925 61.9894Z"
								fill="var(--fill-0, white)"></path>
							<path
								d="M401.167 0.864257C473.851 -0.451726 541.771 1.57243 589.748 10.6055C613.745 15.1236 632.692 21.3846 644.75 29.8145C650.773 34.0252 655.053 38.7607 657.399 44.0654C659.743 49.3623 660.177 55.2678 658.441 61.8623C636.269 146.109 635.981 198.642 632.902 284.06C627.502 295.985 627.686 309.473 629.212 321.379C628.798 321.408 628.146 321.441 627.249 321.472C625.872 321.518 623.962 321.562 621.552 321.605C616.732 321.692 609.922 321.772 601.405 321.846C584.371 321.993 560.514 322.113 532.107 322.21C475.295 322.403 400.286 322.497 325.273 322.5C250.261 322.503 175.244 322.414 118.414 322.242C89.9993 322.156 66.1318 322.049 49.085 321.923C40.5613 321.86 33.7436 321.792 28.916 321.719C26.5022 321.682 24.5874 321.644 23.2061 321.605C22.2659 321.579 21.5894 321.55 21.1719 321.524C21.3838 209.289 16.4583 106.014 30.4551 19.3594C61.3132 19.3833 117.565 15.4339 184.167 11.1445C251.092 6.83444 328.492 2.18008 401.167 0.864257Z"
								stroke="var(--stroke-0, #E6E6E6)"></path>
						</g>
						<defs>
							<filter
								color-interpolation-filters="sRGB"
								filterUnits="userSpaceOnUse"
								height="363"
								id="local-buyer-testimonial-shadow"
								width="680"
								x="0"
								y="0">
								<feFlood flood-opacity="0" result="BackgroundImageFix"
								></feFlood>
								<feColorMatrix
									in="SourceAlpha"
									result="hardAlpha"
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
								></feColorMatrix>
								<feMorphology
									in="SourceAlpha"
									operator="erode"
									radius="4"
									result="effect1_dropShadow"></feMorphology>
								<feOffset dy="8"></feOffset>
								<feGaussianBlur stdDeviation="4"></feGaussianBlur>
								<feColorMatrix
									type="matrix"
									values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.04 0"
								></feColorMatrix>
								<feBlend
									in2="BackgroundImageFix"
									mode="normal"
									result="effect1_dropShadow"></feBlend>
								<feColorMatrix
									in="SourceAlpha"
									result="hardAlpha"
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
								></feColorMatrix>
								<feMorphology
									in="SourceAlpha"
									operator="erode"
									radius="4"
									result="effect2_dropShadow"></feMorphology>
								<feOffset dy="20"></feOffset>
								<feGaussianBlur stdDeviation="12"></feGaussianBlur>
								<feColorMatrix
									type="matrix"
									values="0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.1 0"
								></feColorMatrix>
								<feBlend
									in2="effect1_dropShadow"
									mode="normal"
									result="effect2_dropShadow"></feBlend>
								<feBlend
									in="SourceGraphic"
									in2="effect2_dropShadow"
									mode="normal"
									result="shape"></feBlend>
							</filter>
						</defs>
					</svg>
				</div>
			</div>
		</div>
	</div>
	<div
		class="absolute content-stretch flex flex-col inset-[38px_28px_42px_38px] items-start justify-between sm:inset-[40px_66px_49px_40px]">
		<div
			class="content-stretch flex flex-col gap-[16px] items-start relative shrink-0 w-full">
			<div class="h-[24.704px] relative shrink-0 w-[37.577px]">
				<svg
					class="absolute block inset-0 size-full"
					fill="none"
					preserveAspectRatio="none"
					viewBox="0 0 37.5771 24.704">
					<path
						d="M22.528 24.704C21.9307 24.704 21.4187 24.4907 20.992 24.064C20.6507 23.6373 20.48 23.1253 20.48 22.528C20.48 21.8453 20.608 21.1627 20.864 20.48L27.648 2.944C28.0747 2.09067 28.5013 1.408 28.928 0.896004C29.44 0.298668 30.2507 0 31.36 0H35.584C36.2667 0 36.7787 0.255999 37.12 0.767998C37.5467 1.28 37.6747 1.96267 37.504 2.816L34.688 20.992C34.6027 22.016 34.2613 22.912 33.664 23.68C33.0667 24.3627 32.1707 24.704 30.976 24.704H22.528ZM2.048 24.704C1.45067 24.704 0.938667 24.4907 0.512 24.064C0.170667 23.6373 0 23.1253 0 22.528C0 21.8453 0.128 21.1627 0.384 20.48L7.168 2.944C7.59467 2.09067 8.064 1.408 8.576 0.896004C9.088 0.298668 9.856 0 10.88 0H15.104C15.7867 0 16.2987 0.255999 16.64 0.767998C17.0667 1.28 17.1947 1.96267 17.024 2.816L14.208 20.992C14.1227 22.016 13.7813 22.912 13.184 23.68C12.5867 24.3627 11.7333 24.704 10.624 24.704H2.048Z"
						fill="var(--fill-0, #1E4A35)"></path>
				</svg>
			</div>
			<p
				class="font-sans font-normal leading-[1.68] min-w-0 not-italic relative shrink-0 text-[16px] text-black tracking-[0.48px] w-full break-words">
				{quote}
			</p>
		</div>
		<div
			class="content-stretch flex flex-col items-start leading-[1.68] not-italic relative shrink-0 text-[#808080] text-[16px] tracking-[0.48px] w-full">
			<p class="font-sans font-semibold relative shrink-0 w-full">{name}</p>
			<p class="font-sans font-normal relative shrink-0 w-full">{company}</p>
		</div>
	</div>
</div>
