---
import { Font } from "astro:assets";

const { title = "Farm to Feed", description = "Farm to Feed" } = Astro.props;
---

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content={description} />
	<Font cssVariable="--font-rubik" />
	<Font cssVariable="--font-fraunces" />
	<title>{title}</title>
</head>
