---
import Header from "./Header.astro";
import Navigation from "./Navigation.astro";
import Footer from "./Footer.astro";
import "../styles/tailwind.css";
const {
	title = "FTF Website",
	description = "FTF Website",
	fullWidth = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<Header title={title} description={description} />

	<body>
		<div class="min-h-screen grid grid-rows-[auto_1fr_auto] bg-white text-green-500">
			<header class="site-header relative z-20 bg-orange-50 px-4 py-6 md:px-8">
				<Navigation />
			</header>

			<main
				class:list={[
					"site-main w-full",
					fullWidth ? "" : "mx-auto max-w-5xl px-6 py-10",
				]}>
				<slot />
			</main>

			<Footer />
		</div>
	</body>
</html>
