---
const {
  class: className = "",
  className: legacyClassName = "",
  ...rest
} = Astro.props;
---

<div
  aria-hidden="true"
  class:list={["relative", className, legacyClassName]}
  data-name="Capa_1"
  {...rest}
>
  <div
    class="absolute inset-[6.94%_64.93%_13.37%_0.68%]"
    data-name="Group">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 82.3012 66.7763">
						<g id="Group">
							<path d="M50.6923 7.95053L59.263 6.43566L82.3012 39.9763L63.0451 63.7263C63.0451 63.7263 45.8121 15.3317 50.6923 7.95053Z" fill="var(--fill-0, #D78228)" id="Vector"></path>
							<path d="M63.0451 63.7263V66.7763C63.0451 66.7763 27.7659 66.3392 0 16.1756C0.79302 15.7282 2.24689 15.291 2.24689 15.291C2.24689 15.291 28.9249 62.6486 63.0451 63.7161V63.7263Z" fill="var(--fill-0, #C2CE86)" id="Vector_2"></path>
							<path d="M63.0451 63.7263C58.8461 47.8964 50.6923 7.95053 50.6923 7.95053C50.6923 7.95053 41.6132 3.25341 38.8173 1.51487C21.1167 8.89606 2.24689 15.291 2.24689 15.291C1.65721 14.5387 28.8334 62.6486 63.0451 63.7161V63.7263Z" fill="var(--fill-0, #E0AF62)" id="Vector_3"></path>
							<path d="M59.263 6.43566L46.7983 0L38.8173 1.51487L50.6923 7.95053L59.263 6.43566Z" fill="var(--fill-0, #E0AF62)" id="Vector_4"></path>
						</g>
					</svg>
  </div>
  <div
    class="absolute inset-[5.45%_47.3%_7.78%_26.47%]"
    data-name="Group">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 62.7502 72.7133">
						<g id="Group">
							<path d="M26.3222 6.35433L31.1006 0L62.7502 26.0375L37.2008 65.353C37.2008 65.353 25.6206 20.8524 26.3222 6.35433Z" fill="var(--fill-0, #D78228)" id="Vector"></path>
							<path d="M38.7258 65.353L40.0882 69.1961C40.0882 69.1961 14.9149 80.2272 0 63.2179L1.33186 59.69C1.33186 59.69 16.2874 75.7232 38.7258 65.353Z" fill="var(--fill-0, #C2CE86)" id="Vector_2"></path>
							<path d="M37.2008 65.353C30.8058 38.4208 26.3222 6.35433 26.3222 6.35433C26.3222 6.35433 16.1044 6.81184 12.8103 6.53733C5.88665 35.3402 1.33186 59.6798 1.33186 59.6798C1.33186 59.6798 18.1886 76.6281 37.2008 65.3428V65.353Z" fill="var(--fill-0, #E0AF62)" id="Vector_3"></path>
							<path d="M31.1006 0L17.2024 0.549014L12.8103 6.53733L26.3222 6.35433L31.1006 0Z" fill="var(--fill-0, #E0AF62)" id="Vector_4"></path>
						</g>
					</svg>
  </div>
  <div
    class="absolute inset-[0_28.06%_2.86%_40.72%]"
    data-name="Group">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 74.6964 81.4021">
						<g id="Group">
							<path d="M31.914 7.87936L38.0954 0L74.6964 48.1404L51.3124 69.9179C51.3124 69.9179 32.3206 25.0818 31.914 7.87936Z" fill="var(--fill-0, #D78228)" id="Vector"></path>
							<path d="M55.064 68.464L57.8294 72.5817C57.8294 72.5817 28.0302 88.8894 0 77.1568L1.54537 72.8867C1.54537 72.8867 25.3461 84.7209 55.064 68.464Z" fill="var(--fill-0, #C2CE86)" id="Vector_2"></path>
							<path d="M51.3124 69.9179C39.5595 38.553 31.914 7.87936 31.914 7.87936C31.914 7.87936 17.4058 9.21123 12.6883 9.12989C5.65281 43.7279 1.54537 72.8867 1.54537 72.8867C1.54537 72.8867 25.3461 84.7209 51.3226 69.9179H51.3124Z" fill="var(--fill-0, #E0AF62)" id="Vector_3"></path>
							<path d="M38.0954 0L18.3615 1.70804L12.6883 9.14006L31.914 7.87936L38.0954 0Z" fill="var(--fill-0, #E0AF62)" id="Vector_4"></path>
						</g>
					</svg>
  </div>
  <div
    class="absolute inset-[4.39%_13.86%_2.28%_57.71%]"
    data-name="Group">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 68.0269 78.2045">
						<g id="Group">
							<path d="M14.071 2.13505L22.8857 0L68.0269 25.397L53.4678 53.844C53.4678 53.844 20.3338 18.1683 14.0812 2.13505H14.071Z" fill="var(--fill-0, #D78228)" id="Vector"></path>
							<path d="M56.4874 51.2006L60.4932 54.1287C60.4932 54.1287 38.0344 79.6172 7.68619 78.143V73.5983C7.68619 73.5983 34.0897 76.6078 56.4976 51.2006H56.4874Z" fill="var(--fill-0, #C2CE86)" id="Vector_2"></path>
							<path d="M53.4577 53.844C29.5146 29.3112 14.071 2.13505 14.071 2.13505C14.071 2.13505 4.46328 6.06965 0 7.60486C3.51775 43.5754 7.68619 73.5983 7.68619 73.5983C7.68619 73.5983 34.0897 76.6077 53.4678 53.8338L53.4577 53.844Z" fill="var(--fill-0, #E0AF62)" id="Vector_3"></path>
						</g>
					</svg>
  </div>
  <div
    class="absolute inset-[0_0.75%_24.42%_74.76%]"
    data-name="Group">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 58.592 63.3298">
						<g id="Group">
							<path d="M51.5565 17.3448L58.592 18.9105C58.592 18.9105 40.7999 48.4759 16.7144 63.3298C15.5859 61.8657 14.2032 60.2288 14.2032 60.2288C14.2032 60.2288 42.5587 38.6546 51.5565 17.3448Z" fill="var(--fill-0, #C2CE86)" id="Vector"></path>
							<path d="M51.5565 17.3448C30.5414 11.6818 14.2032 0 14.2032 0C14.2032 0 3.8126 6.44583 0 9.23156C4.98179 47.0525 14.2032 60.2288 14.2032 60.2288C14.2032 60.2288 44.4701 37.4854 51.5565 17.3448Z" fill="var(--fill-0, #E0AF62)" id="Vector_2"></path>
						</g>
					</svg>
  </div>
</div>
