---
import { supplierStoryMask } from "../../lib/figmaMarkup/sellWithUsMask";

const {
  class: className = "",
  className: legacyClassName = "",
  ...rest
} = Astro.props;
---

<div
  aria-hidden="true"
  class:list={["relative", className, legacyClassName]}
  data-name="Capa_1"
  {...rest}
>
  <div
    class="absolute contents inset-[46.94%_-0.01%_5.53%_67.34%]"
    data-name="Group">
    <div
      class="absolute contents inset-[46.94%_-0.01%_5.53%_67.34%]"
      data-name="Group">
      <div
        class="absolute inset-[46.94%_-0.01%_5.53%_67.34%]"
        data-name="Vector">
        <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 99.2603 72.0039">
							<path d="M12.8626 8.45847C12.8626 8.45847 28.1172 -9.40876 48.2287 13.4623C55.6521 22.9779 51.3348 30.8855 63.975 30.3815C76.6151 29.8776 85.7055 14.2662 87.8881 9.44243C90.0708 4.61863 96.7866 -2.04108 98.8494 0.598806C100.912 3.23869 94.6879 2.17074 91.7617 12.9463C88.8356 23.7218 70.6428 35.6613 64.0229 37.7132C57.403 39.7651 54.8126 40.0771 52.9058 45.2609C50.999 50.4447 41.9686 70.4838 23.8118 71.9238C5.65507 73.3637 -0.665017 55.0765 0.0545376 44.001C1.60158 19.822 12.8746 8.47047 12.8746 8.47047L12.8626 8.45847Z" fill="var(--fill-0, #A35380)" id="Vector"></path>
						</svg>
      </div>
      <div
        class="absolute contents inset-[46.94%_-0.01%_5.53%_67.34%]"
        data-name="Clip path group">
        <div
          class="absolute inset-[48.28%_18.79%_8.68%_66.58%] mask-alpha mask-intersect mask-no-clip mask-no-repeat mask-[-1.17px_-0.16px] mask-size-[122.51px_118.116px]"
          style={`mask-image: url('${supplierStoryMask}');`}
          data-name="Group">
          <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 44.4335 65.2025">
						<g id="Group">
							<path d="M8.16701 62.0717C14.4631 66.7995 21.5987 67.7475 34.023 53.5161C46.4473 39.2847 45.224 24.6333 43.0294 12.7298C40.8348 0.826346 26.9354 0.0103829 26.9354 0.0103829C26.9354 0.0103829 9.11442 -1.39355 2.07478 28.4492C-4.96486 58.2919 8.16701 62.0597 8.16701 62.0597V62.0717Z" fill="var(--fill-0, #DABACC)" id="Vector"></path>
						</g>
					</svg>
        </div>
      </div>
    </div>
    <div
      class="absolute inset-[53.61%_20.85%_13.05%_69.52%]"
      data-name="Vector">
      <div class="absolute inset-[-0.99%_-1.71%]">
        <svg class="block size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 30.2563 51.5082">
								<path d="M15.4303 0.562568C15.4303 0.562568 26.7993 -1.21336 29.4377 14.158C32.076 29.5293 17.8049 54.8482 5.92023 50.5164C-5.96441 46.1846 3.73759 0.838556 15.4303 0.562568Z" id="Vector" stroke="var(--stroke-0, #A35380)" stroke-miterlimit="10"></path>
							</svg>
      </div>
    </div>
    <div
      class="absolute inset-[57.31%_23.09%_17.53%_71.61%]"
      data-name="Vector">
      <div class="absolute inset-[-1.31%_-3.11%]">
        <svg class="block size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 17.0825 39.1186">
								<path d="M7.50638 2.68057C7.50638 2.68057 13.9464 -3.52317 16.165 4.99647C18.3836 13.5281 11.368 35.8951 4.35232 38.475C-2.66333 41.0549 0.814522 8.08034 7.50638 2.66857V2.68057Z" id="Vector" stroke="var(--stroke-0, #A35380)" stroke-miterlimit="10"></path>
							</svg>
      </div>
    </div>
  </div>
  <div
    class="absolute inset-[39.79%_23.6%_0_58.17%]"
    data-name="Group">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 55.4027 91.2125">
						<g id="Group">
							<path d="M6.76939 88.7855C6.76939 88.7855 21.892 95.6852 32.2176 86.2176C42.5432 76.738 50.2665 72.7902 54.8356 34.1998C59.4168 -4.3785 35.1438 -3.89852 21.4963 4.86111" fill="var(--fill-0, #A35380)" id="Vector"></path>
							<path d="M0.221458 68.2064C0.221458 68.2064 -2.69274 91.8094 12.6218 89.4455C25.5258 87.4536 41.5359 68.0504 43.9224 45.2754C46.3089 22.4884 41.308 -4.3665 21.6162 6.86502" fill="var(--fill-0, #DABACC)" id="Vector_2"></path>
							<path d="M8.96404 78.322C8.96404 78.322 19.6015 83.9257 30.7665 65.4705C41.9436 47.0273 41.332 11.1128 26.797 12.9968C12.274 14.8807 -2.82466 74.4821 8.95205 78.31L8.96404 78.322Z" id="Vector_3" stroke="var(--stroke-0, #A35380)" stroke-miterlimit="10"></path>
							<path d="M11.6264 68.1824C11.6264 68.1824 14.7804 77.866 21.7601 67.8584C28.7278 57.8508 33.8966 27.7801 28.1522 22.4644C22.4077 17.1486 7.77678 59.4348 11.6264 68.1944V68.1824Z" id="Vector_4" stroke="var(--stroke-0, #A35380)" stroke-miterlimit="10"></path>
						</g>
					</svg>
  </div>
  <div
    class="absolute inset-[0_71.17%_39.23%_0]"
    data-name="Vector">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 87.5971 92.0564">
							<path d="M86.4304 52.5043C86.4304 52.5043 82.9645 45.9166 86.7182 38.7289C90.4719 31.5412 80.8898 35.6211 82.4488 30.7133C84.0079 25.8055 84.0678 26.6094 74.8096 24.1975C65.5513 21.7856 80.8179 20.6337 68.5614 10.3621C56.305 0.0905738 57.6242 8.69421 40.223 1.29052C22.8338 -6.11316 9.35412 20.5737 17.1253 24.7135C24.8965 28.8533 23.6613 41.4528 15.4823 36.773C7.30339 32.0932 5.3606 28.5174 3.27389 38.9329C1.18718 49.3485 -4.73715 63.9038 7.51926 74.1874C19.7877 84.459 19.8356 71.0915 28.1705 86.1389C36.5053 101.186 32.176 78.1952 46.1114 89.1508C60.0467 100.106 60.9462 76.3953 72.7349 78.5672" fill="var(--fill-0, #85A687)" id="Vector"></path>
						</svg>
  </div>
  <div
    class="absolute inset-[45.69%_58.11%_38.2%_12.15%]"
    data-name="Vector">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 90.358 24.4059">
							<path d="M85.1772 24.4059C85.1772 24.4059 78.6053 18.4661 60.1967 14.1223C41.7881 9.77849 -2.66837 3.64675 0.125897 0.334893C2.92017 -2.97696 90.358 19.3661 90.358 19.3661" fill="var(--fill-0, #814E18)" id="Vector"></path>
						</svg>
  </div>
  <div
    class="absolute inset-[21.92%_56.03%_50.52%_14.04%]"
    data-name="Vector">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 90.9572 41.7605">
							<path d="M90.9572 38.6526C90.9572 38.6526 79.864 36.5527 66.924 30.4929C53.9841 24.4332 -2.87273 -3.76559 0.113422 0.422226C3.09957 4.61005 84.829 40.2965 90.2256 41.7605" fill="var(--fill-0, #814E18)" id="Vector"></path>
						</svg>
  </div>
  <div
    class="absolute inset-[22.12%_69.87%_48.92%_6.48%]"
    data-name="Vector">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 71.8692 43.878">
							<path d="M71.6277 33.2967C71.6277 33.2967 71.232 29.5769 67.8621 27.477C67.4783 27.237 67.0466 27.021 66.5789 26.829C62.0337 24.9931 57.6444 16.0775 50.7966 15.1175C43.9489 14.1576 44.7764 15.2135 42.8336 14.1816C40.8908 13.1496 20.5994 -3.06169 16.0182 0.514153C11.437 4.09 -5.17269 0.070171 1.60312 16.4615C8.36693 32.8648 13.2719 22.7972 18.6086 28.545C23.9453 34.2927 35.0024 36.7286 40.555 36.6446C46.1076 36.5606 54.0826 39.4885 57.8123 43.0523C61.542 46.6162 73.7744 37.7606 71.6157 33.2847L71.6277 33.2967Z" fill="var(--fill-0, #C2CE86)" id="Vector"></path>
						</svg>
  </div>
  <div
    class="absolute inset-[33.5%_62.34%_50.52%_16.54%]"
    data-name="Vector">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 64.1842 24.215">
							<path d="M64.1842 24.215C64.1842 24.215 11.381 6.15574 0 0Z" fill="var(--fill-0, #A35380)" id="Vector"></path>
						</svg>
  </div>
  <div
    class="absolute inset-[30.28%_27.75%_11.86%_52.01%]"
    data-name="Group">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 61.5033 87.6665">
						<g id="Group">
							<path d="M27.523 0.259255C27.523 0.259255 47.5745 -2.30863 54.1585 8.7189C60.7424 19.7464 67.2423 25.1582 52.9472 60.9887C38.664 96.8191 11.1411 89.7994 0.551666 78.6279" fill="var(--fill-0, #A35380)" id="Vector"></path>
							<path d="M12.5562 9.84685C12.5562 9.84685 20.6992 -3.26859 34.2748 1.07522C47.8624 5.40704 55.2978 27.3061 46.5192 48.3892C37.7286 69.4723 16.6217 90.2794 0 73.9481" fill="var(--fill-0, #DABACC)" id="Vector_2"></path>
							<path d="M24.6927 10.2068C24.6927 10.2068 39.1678 7.73494 42.1899 27.0301C45.212 46.3253 26.5755 78.4959 11.5848 73.2881C-3.40588 68.0804 9.85789 10.7948 24.6927 10.1948V10.2068Z" id="Vector_3" stroke="var(--stroke-0, #A35380)" stroke-miterlimit="10"></path>
							<path d="M22.546 19.9744C22.546 19.9744 30.8569 12.0188 33.4953 22.7103C36.1336 33.4018 26.7554 61.7086 17.797 65.1045C8.83852 68.5003 13.9474 26.9101 22.546 19.9624V19.9744Z" id="Vector_4" stroke="var(--stroke-0, #A35380)" stroke-miterlimit="10"></path>
						</g>
					</svg>
  </div>
  <div
    class="absolute inset-[34.94%_41.44%_7.36%_30.22%]"
    data-name="Vector">
    <svg class="absolute block inset-0 size-full" fill="none" preserveAspectRatio="none" viewBox="0 0 86.1189 87.4181">
							<path d="M76.4999 1.25001C79.57 1.90998 82.2203 3.9259 83.5395 6.76977C86.5616 13.2855 89.2719 27.4089 77.2434 52.5118C59.4464 89.6622 49.3127 87.9343 45.2712 87.1183C41.2297 86.3024 15.0259 69.0471 24.9438 50.5199C28.4216 42.9842 27.9419 39.1084 27.9419 39.1084C27.9419 39.1084 32.3912 40.4523 33.2307 34.9806C34.0701 29.5088 52.7546 36.7565 0.742779 14.4014C-6.29686 8.26971 38.9871 32.1847 40.2703 24.373C41.5535 16.5614 36.7805 21.7091 38.6633 15.4094C40.4622 9.43366 51.6632 -4.14976 76.4879 1.23801L76.4999 1.25001Z" fill="var(--fill-0, #A35380)" id="Vector"></path>
						</svg>
  </div>
</div>
